/*   random images:      https://source.unsplash.com/random    */
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
/* font-family: 'Hachi Maru Pop', cursive; */

/**********************************************
                Global styles
**********************************************/
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: url(../img/moe-3793863_1920.png) center/cover no-repeat;
  /* background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  font-family: 'Hachi Maru Pop', cursive;
}

/**********************************************
                Specific styles
**********************************************/
.container {
  position: relative;
  top: 50%;
  margin: auto;
  max-width: 300px;
  font-size: 1.2rem;
}

/**************************************
            @media Queries
**************************************/

@media all and (min-width: 360px) {
  .container {
    max-width: 340px;
    font-size: 1.4rem;
  }
}

@media all and (min-width: 412px) {
  .container {
    max-width: 382px;
    font-size: 1.6rem;
  }
}

@media all and (min-width: 576px) {
  .container {
    max-width: 556px;
    font-size: 2.2rem;
  }
}

@media all and (min-width: 768px) {
  .container {
    max-width: 620px;
    font-size: 2.6rem;
  }
}

@media all and (min-width: 1400px) {
  .container {
    max-width: 750px;
    font-size: 3rem;
  }
}